/* ElmentPlus 样式自定义 */

// [Tab] 标签边框
.el-tabs__nav {
  border: none !important;
}

// [Tab] 标签内容
.el-tabs__item {
  border: none !important;
  user-select: none;
  &.is-active {
    background-color: #409eff14;
    color: #4d70ff !important;
  }
}
